includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Parameter .1 \$separator of function explode expects non-empty-string, string given.#'
        - identifier: missingType.iterableValue

    level: 6
    paths:
        - app

